<?xml version="1.0" ?>

<plugin>

    <extension id="OBODefinition"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="OBO annotation"/>
        <class value="org.protege.oboeditor.views.OBOAnnotationViewComponent"/>
        <headerColor value="B1CAF6"/>
        <category value="OBO"/>
    </extension>



</plugin>